h1 {
    color:plum;
    font-size: 70px;
    font-family:cursive;
    font-weight: bold;
    text-align: center;
}
p {
    color:darkmagenta;
    font-size: 14px;
    font-family: cursive;
}
body {
    background-image: url('https://i.pinimg.com/originals/0b/6d/83/0b6d83022b5326ca71c715e7c1743dfb.jpg');
}
h2 {
    font-size: 50px;
    font-family: cursive;
    color: plum;
    
}

header{
    padding:20px;
    background-color: beige;
}
a {
    color: darkmagenta;
    font-family: cursive;
}
hr {
    color: blueviolet;
}
.denzelsbakery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.linktobakery {
    width: 325px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    background-color: plum;
}
.linktobakery:hover {
    transform:translateY(-15px);
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
  }

.auroraborealis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.linktoaurora{
    width: 325px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    background-color: plum;
}
.linktoaurora:hover {
    transform:translateY(-15px);
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
  }


.cssbakery  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
.cssbakerylink {
    width: 325px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    background-color: plum;
}
.cssbakerylink:hover {
    transform:translateY(-15px);
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
}
.marvelcomics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.marvelimg {
    height: 325px;
}
.marvelcomicslink {
    width: 325px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    background-color: plum;
}
.marvelcomicslink:hover {
    transform:translateY(-15px);
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
}
.practice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.practiceimg {
    height: 325px;
}
.linktopractice {
    width: 325px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    background-color: plum;
}
.linktopractice:hover {
    transform:translateY(-15px);
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
}

.spotthedifference {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.gameimage {
    height: 325px;
}
.linktospotdifference {
    width: 325px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    background-color: plum;
}
.linktospotdifference:hover {
    transform:translateY(-15px);
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
}
.certprep {
    width: 325px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    background-color: plum;
}
.linktocertprep:hover{
    transform:translateY(-15px);
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
}
.allmywork1 {
    display: flex;
    align-items: center;
}
.allmywork2 {
    display: flex;
    align-items: center;
}
.pixelart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.aboutme {
    text-align: center;
}
.allofaboutme{
    display: flex;
    flex-direction: column;
    text-align: center;

    margin: 10px;

}
.topnav {
  overflow: hidden;
  width: 300px;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: plum;
  color: #ddd;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #5204aa;
  color: white;
}
