h1 {
    color:black;
    font-size: 40px;
    font-family:cursive;
    font-weight: bold
}
p {
    color:black;
    font-size: 14px;
}
body {
    background-color: beige;
}
h2 {
    font-size: 35px;
    
}

header{
    padding:20px;
    background-color: beige;
}

