h1 {
    color:black;
    font-size: 40px;
    font-family:cursive;
    font-weight: bold;
    text-align: center;
}
p {
    color:black;
    font-size: 14px;
}
body {
    background-image: url('https://i.pinimg.com/originals/0b/6d/83/0b6d83022b5326ca71c715e7c1743dfb.jpg');
}
h2 {
    font-size: 35px;
    
}

header{
    padding:20px;
    background-color: beige;
}

.denzelsbakery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.linktobakery {
    width: 325px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
}
.linktobakery:hover {
    transform:translateY(-15px);
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
  }

.auroraborealis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.linktoaurora{
    width: 325px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
}
.linktoaurora:hover {
    transform:translateY(-15px);
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
  }





.linktomywork1:hover{
    background-color: pink;
    font-style: bold;

}
.linktomywork2:hover{
    background-color: pink;
    font-style: bold;

}
.linktomywork3:hover{
    background-color: pink;
    font-style: bold;

}
.linktomywork4:hover{
    background-color: pink;
    font-style: bold;

}
.linktomywork5:hover{
    background-color: pink;
    font-style: bold;

}
.mywork {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pixelart {
    display: flex;
    justify-content: center;
}