h1 {
    color:plum;
    font-size: 70px;
    font-family:cursive;
    font-weight: bold;
    text-align: center;
}
p {
    color:black;
    font-size: 14px;
}
body {
    background-image: url('https://i.pinimg.com/originals/0b/6d/83/0b6d83022b5326ca71c715e7c1743dfb.jpg');
}
h2 {
    font-size: 35px;
    font-family: cursive;
    color: rgb(160, 115, 160);
    
}

header{
    padding:20px;
    background-color: beige;
}
a {
    color: rgb(168, 83, 214);
}
.denzelsbakery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.linktobakery {
    width: 325px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    background-color: plum;
}
.linktobakery:hover {
    transform:translateY(-15px);
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
  }

.auroraborealis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.linktoaurora{
    width: 325px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    background-color: plum;
}
.linktoaurora:hover {
    transform:translateY(-15px);
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
  }


.cssbakery  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
.cssbakerylink {
    width: 325px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    background-color: plum;
}
.cssbakerylink:hover {
    transform:translateY(-15px);
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
}
.marvelcomics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.marvelimg {
    height: 325px;
}
.marvelcomicslink {
    width: 325px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    background-color: plum;
}
.marvelcomicslink:hover {
    transform:translateY(-15px);
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
}
.practice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.practiceimg {
    height: 325px;
}
.linktopractice {
    width: 325px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    background-color: plum;
}
.linktopractice:hover {
    transform:translateY(-15px);
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
}

.allmywork1 {
    display: flex;
    justify-content: space-between;
}
.allmywork2 {
    display: flex;
    justify-content: space-around;
}
.pixelart {
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutme {
    display: flex;
    align-items: center;
    text-align: center;
}