h1 {
  color:plum;
  font-size: 70px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
}
p {
  color:darkmagenta;

  font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
  background-image: url('https://i.pinimg.com/originals/0b/6d/83/0b6d83022b5326ca71c715e7c1743dfb.jpg');
  background-size: auto;
}
h2 {
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: plum;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(85, 48, 185)

}

header{
  padding:20px;
  background-color: beige;
}
a {
  color: darkmagenta;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
hr {
  color: blueviolet;
}
.denzelsbakery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.linktobakery {
  width: 325px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
  margin: 10px;
  background-color: plum;
}
.linktobakery:hover {
  transform:translateY(-15px);
  transition: transform 0.3s ease-in-out;
  cursor:pointer;
}

.auroraborealis {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.linktoaurora{
  width: 325px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
  margin: 10px;
  background-color: plum;
}
.linktoaurora:hover {
  transform:translateY(-15px);
  transition: transform 0.3s ease-in-out;
  cursor:pointer;
}

.firstbakeryimg {
  width: 325px;
}
.cssbakery  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.cssbakerylink {
  width: 325px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
  margin: 10px;
  background-color: plum;
}
.cssbakerylink:hover {
  transform:translateY(-15px);
  transition: transform 0.3s ease-in-out;
  cursor:pointer;
}
.marvelcomics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.marvelimg {
  height: 325px;
}
.marvelcomicslink {
  width: 325px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
  margin: 10px;
  background-color: plum;
}
.marvelcomicslink:hover {
  transform:translateY(-15px);
  transition: transform 0.3s ease-in-out;
  cursor:pointer;
}
.practice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.practiceimg {
  height: 325px;
}
.linktopractice {
  width: 325px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
  margin: 10px;
  background-color: plum;
}
.linktopractice:hover {
  transform:translateY(-15px);
  transition: transform 0.3s ease-in-out;
  cursor:pointer;
}

.spotthedifference {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.gameimage {
  height: 325px;
}
.linktospotdifference {
  width: 325px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
  margin: 10px;
  background-color: plum;
}
.linktospotdifference:hover {
  transform:translateY(-15px);
  transition: transform 0.3s ease-in-out;
  cursor:pointer;
}
.certprep {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.linktocertprep {
  width: 325px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid black;
  margin: 10px;
  background-color: plum;
}
.linktocertprep:hover{
  transform:translateY(-15px);
  transition: transform 0.3s ease-in-out;
  cursor:pointer;
}
.certprepimg {
  width: 325px;
}

.pixelart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
.aboutme {
  text-align: center;
    font-size: 30px;
}
.allofaboutme{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;

}
.topnav {
  overflow: hidden;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #5204aa;
  color: #ddd;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #5204aa;
  color: white;
}
.contacttext {
    font-size: 30px;
}