/* ADD RULES BELOW TO STYLE LAYOUT */

/* layout for comic book cover image gallery */

.imggallery{
    width: 150px;
    align-items: center;
    }
  #imggallery1{
    order:1;
  }
  #imggallery2{
    order:2;
  }
  #imggallery3{
    order:3;
  }
  #imggallery4{
    order:4;
  }
  #imggallery5{
    order:5;
  }
  .imgcite1 {
    font-size: 10px;
    text-align: center;
  }
  /* comic book cover image style */
  
  
  
  /* comic book citation style */
  
  
  
  /* storytelling flowchart image style */
  .flowchart {
    width: 300px;
    align-items: right;
    margin: 10px;
    float: right;
    
  }
  .flowcharttext{
    text-align: left
  }
  
  /* layout style for protagonist image and information*/
  
  .protagonistlist {
  align-items: flex-end;
  }
  
  /* protagonist image style */
  .protagonistimg {
    width: 600px;
    float: left;
    margin: 25px;
  }
  
  
  /* layout style for supporting cast images */
  .supportingcastimg {
    width: 500px;
  align-content: center;
  }
  /* supporting cast image style */
  
  
  
  /* layout for planning comic pages images and information */
    .planningtitle {
      text-align: center;
    }
  
 /* layout for image and information within planning container */
.panelimg1   {
    width: 600px;
  display: flex;
  flex-wrap: nowrap;
 justify-content:flex-start;
  align-content: center;
  order:1;
  }
.panelimg2   {
  width: 600px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  order:2;
}

  /* comic panels image style */
  
  
  
  /* perspective image style */
  
  
  
  /* layout style for publishing option images */
  #allpublishimg{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
      
  }
  .publishimg1 {
    width: 500px;
    order:1;
  }
  
  .publishimg2 {
    width: 500px;
    order:2;
  }
  .publishimg3 {
    width: 500px;
    order:3;
  }
  /* layout style for image citation */
  .imgcitationpublish {
    font-size: 10px;
    text-align: center;
  }
  
  
  /* style for paragraph in image citation container */
  
  
  
  /* DO NOT EDIT CODE BELOW */
  
  /* body style */
  body {
    background: #F5F5F5;
    color:#333333;
    font-family: Verdana;
  }
  
  /* title and subtitle styles */
  h1 {
    text-align: center;
    color: #E63946;
    text-shadow: #333333 2px 2px;
    font-size: 45px;
  }
  
  h2 {
    text-align: center;
    color: #1D3557;
    text-shadow: #333333 1px 1px;
    font-size: 30px;
  }
  
  h3 {
    text-align: center;
    color: #457B9D;
    text-shadow: #333333 1px 1px;
    font-size: 22px;
    text-decoration: underline;
  }
  
  /* general image style  */
  img {
    width: 300px;
    border-style: solid;
    border-color: #F4A261;
    box-shadow: 2px 2px;
  }/* ADD RULES BELOW TO STYLE LAYOUT */
  
  /* layout for comic book cover image gallery */
  
  
  
  /* comic book cover image style */
  
  
  
  /* comic book citation style */
  
  
  
  /* storytelling flowchart image style */
  
  
  
  /* layout style for protagonist image and information*/
  
  
  
  /* protagonist image style */
  
  
  
  /* layout style for supporting cast images */
  
  
  /* supporting cast image style */
  
  
  
  /* layout for planning comic pages images and information */
  
  
  /* layout for image and information within planning container */
  
  
  
  /* comic panels image style */
  
  
  
  /* perspective image style */
  
  
  
  /* layout style for publishing option images */
  
  
  
  
  /* layout style for image citation */
  
  
  
  /* style for paragraph in image citation container */
  
  
  
  /* DO NOT EDIT CODE BELOW */
  
  /* body style */
  body {
    background: #F5F5F5;
    color:#333333;
    font-family: Verdana;
  }
  
  /* title and subtitle styles */
  h1 {
    text-align: center;
    color: #E63946;
    text-shadow: #333333 2px 2px;
    font-size: 45px;
  }
  
  h2 {
    text-align: center;
    color: #1D3557;
    text-shadow: #333333 1px 1px;
    font-size: 30px;
  }
  
  h3 {
    text-align: center;
    color: #457B9D;
    text-shadow: #333333 1px 1px;
    font-size: 22px;
    text-decoration: underline;
  }
  
  /* general image style  */
  img {
    width: 300px;
    border-style: solid;
    border-color: #F4A261;
    box-shadow: 2px 2px;
  }